/*---------------------------------
    mobile device
----------------------------------*/
@media screen and (max-width:576px) {
    /*--------------------------
        navigation bar
    ------------------------*/
    .nav-container{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .nav-logo{
        width: 100%;
        justify-content: center;
    }
    .nav-items{
        width: 100%;
        text-align: center;
    }
    .nav-items ul{
        flex-direction: column;
        gap: 25px;
    }
    /*--------------------------------
        banner section
    --------------------------------*/
    .banner-container{
        flex-direction: column-reverse;
        gap: 0px;
        padding: 10px;
        margin-top: 20px;
    }
    .banner-info{
        width: 100%;
        height: 380px;
    }
    .banner-img-container{
        text-align: center;
    }
    .banner-title {
        font-size: 2.8rem;
    }
    
    .banner-degree {
            font-size: 5.5rem;
    }
    /*---------------------------------
        card section
    -------------------------------*/
    .card-container{
        padding: 10px;
        margin: 20px 0;
    }
    .cards{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .card-title{
        font-size: 2rem;
    }
    .card-description{
        font-size: 1rem;
    }
    
    /*---------------------------------
        advertise section
    --------------------------------*/
    .advertise-container{
        flex-direction: column;
        text-align: center;
        padding: 10px;
        gap: 20px;
        margin-bottom: 50px;
    }
    .advertise-info {
        width: 100%;
        text-align: center;
    }
    .advertise-img-container{
        width: 100%;
        padding: 20px;
        text-align: right;
        
    }
    .image1{
        width: 83%;
    }
    .image2{
        width: 30%;
        left: 6%;
        top: 60%;
    }

    /*----------------------------------
        items section
    ---------------------------------*/
    .items-container{
        padding: 10px;
        gap: 10px;
        height: 100px;
    }
    .item {
        width: 30%;
    }
    .item img{
        width: 20px;
    }
    .item-name{
        font-size: 10px;
    }
    .mobile-item{
        display: none;
    }
    /*---------------------------------
        footer section
    ------------------------------------*/
    .footer-items-container{
        flex-direction: column;
        gap: 15px;
        margin-bottom: 50px;
    }
    .footer-items{
        gap: 35px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    .footer-social-container{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }
    .footer-btn{
        gap: 50px;
        margin-bottom: 0;
    }
    .footer-info-container{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
    }
    .footer-info{
        font-size: 16px;
        gap: 35px;
    }
    .footer-reservation{
        flex-direction: column;
    }
}


/*--------------------------------
    tablet device
-----------------------------------*/
@media screen and (min-width:576px) and (max-width:960px) {
    /*----------------------------
        navigation bar
    ---------------------------*/
    .nav-container{
        flex-direction: column;
        gap: 30px;
    }
        .nav-logo {
            width: 100%;
            justify-content: center;
        }
    
        .nav-items {
            width: 100%;
            text-align: center;
        }
        .nav-items ul{
            justify-content: space-around;
        }
    /*--------------------------------
        banner section
    --------------------------------*/
    .banner-container{
        flex-direction: column-reverse;
        gap: 0px;
        padding: 20px;
    }
    .banner-info{
        background-size: cover;
        width: 100%;
    }
    .banner-img-container{
        text-align: center;
    }
    /*-----------------------------
        card-section
    --------------------------*/
    .cards{
        flex-wrap: wrap;
        gap: 50px;
    }

    /*-----------------------------------
        advertise section
    ----------------------------*/
    .advertise-container {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .advertise-info {
        width: 100%;
        text-align: center;
    }
        
    .advertise-img-container {
        width: 100%;
        padding: 20px;
        text-align: right;
        
    }
        
    .image1 {
        width: 82%;
    }
        
    .image2 {
        width: 30%;
        left: 6%;
        top: 60%;
    }
    /*---------------------------------
        footer section
    ------------------------------------*/
    .footer-items-container {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 50px;
    }
        
    .footer-items {
        gap: 35px;
        margin-bottom: 20px;
        font-size: 16px;
    }
        
    .footer-social-container {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }
        
    .footer-btn {
        gap: 50px;
        margin-bottom: 0;
    }
        
    .footer-info-container {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
    }
        
    .footer-info {
        font-size: 16px;
        gap: 35px;
    }
        
    .footer-reservation {
        flex-direction: column;
    }
}