/*---------------------------------
    mobile device
----------------------------------*/
@media screen and (max-width:576px) {
    /*--------------------------
        navigation bar
    ------------------------*/
    .nav-container{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .nav-logo{
        width: 100%;
        justify-content: center;
    }
    .nav-items{
        width: 100%;
        text-align: center;
    }
    .nav-items ul{
        flex-direction: column;
        gap: 25px;
    }
    /*--------------------------------
        banner section
    --------------------------------*/
    .banner-container{
        flex-direction: column-reverse;
        gap: 0px;
        padding: 10px;
    }
    .banner-info{
        width: 100%;
        height: 350px;
    }
    .banner-img-container{
        text-align: center;
    }
    .banner-title {
        font-size: 2.8rem;
    }
    
    .banner-degree {
            font-size: 5.4rem;
    }
}


/*--------------------------------
    tablet device
-----------------------------------*/
@media screen and (min-width:576px) and (max-width:960px) {
    /*----------------------------
        navigation bar
    ---------------------------*/
    .nav-container{
        flex-direction: column;
        gap: 30px;
    }
        .nav-logo {
            width: 100%;
            justify-content: center;
        }
    
        .nav-items {
            width: 100%;
            text-align: center;
        }
        .nav-items ul{
            justify-content: space-around;
        }
    /*--------------------------------
        banner section
    --------------------------------*/
    .banner-container{
        flex-direction: column-reverse;
        gap: 0px;
        padding: 20px;
    }
    .banner-info{
        background-size: cover;
        width: 100%;
        height: 400px;
    }
    .banner-img-container{
        text-align: center;
    }
}